<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="<%= root_path %>"><%= t('admin_panel') %></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="<%= new_feedback_path %>"><%= t('.feedback_new') %></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= admin_tests_path %>"><%= t('panel') %></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= admin_gists_path %>"><%= t('gists') %></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= admin_badges_path %>"><%= t('.badge_new') %></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="navbar-brand">
        <small>
          <%= t('welcome',  user: current_user.first_name) %>
        </small>
      </a>
      <a class="btn btn-primary" data-confirm="<%= t('confirmation') %>" data-method="delete" href="<%= destroy_user_session_path %>" role="button"><%= t('exit') %></a>
    </form>
  </div>
</nav>
