<div class="shadow p-3 mb-5 bg-white rounded">
  <h3>
    <%= t('.header', title: @test_passage.test.title) %>
  </h3>

  <p>
    <%= t('.header_2', size: @test_passage.test.questions.size) %>
  </p>

  <div>
    <%= content_tag :progress, 'progress',
                    class: 'progress-bar progress',
                    data: {
                      value: @test_passage.current_question_number,
                      max: @test_passage.test.questions.size
                    } %>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item disabled"
      aria-disabled="true"><%= t('.total', total: (@test_passage.current_question_number)) %>
  </li>
  <li class="list-group-item"><%= @test_passage.current_question.body %></li>
</ul>
<a class="badge badge-success" <%= link_to t('.create_gist'), gist_test_passage_path(@test_passage), method: :post %></a>


<div class="form-check mt-4">
  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label %>
      </p>
    <% end %>
      <p><%= form.submit t('.next') %></p>
  <% end %>
</div>
