<li>
  <%= answer.body %>
  <a href="<%= admin_answer_path(answer) %>" class="badge badge-primary"><%= t('show') %></a>
  <a href="<%= edit_admin_answer_path(answer) %>" class="badge badge-info"><%= t('edit') %></a>
  <a data-confirm="<%= t('confirm') %>" data-method="delete" href="<%= admin_answer_path(answer) %>" class="badge badge-danger"><%= t('delete') %></a>
</li>
