<div class="shadow p-3 mb-5 bg-white rounded">
  <h3><%= t('.header') %>:</h3>
  <p><%= @answer.question.body %></p>
</div>

<div class="p-3 mb-5">
  <ul class="list-group">
    <li class="list-group-item">
      <b><%= t('.header_2') %></b>:
      <%= @answer.body %>
    </li>
    <li class="list-group-item">
      <b><%= t('.header_3') %>:</b>
      <%= @answer.correct %>
    </li>
  </ul>
</div>

<a class="btn btn-primary" href="<%= admin_question_path(@answer.question) %>" role="button"><%= t('back') %></a>
