<h1><%= t('.header') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.header_2') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.header_3') %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to t('back'), admin_question_path(@answer.question) %>