<div class="shadow p-3 mb-5 bg-white rounded">
  <h3><%= t('.header', title: @question.test.title) %></h3>
</div>

<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <%= form_with model: [:admin, @question], local: true do |form| %>
    <%= render 'shared/errors', resource: @question %>
    <p>
      <%= form.label t('body') %><br>
      <%= form.text_area :body, id: :question_body %>
    </p><br>

    <p><%= form.submit %></p>
    <% end %>
  </div>
</div>
<a class="btn btn-primary" href="<%= admin_test_path(@question.test) %>" role="button"><%= t('back') %></a>
