<h1><%= t('.header', title: @question.test.title) %></h1>
<%= render 'shared/errors', resource: @question %>

<%= form_for [:admin, @test, @question] do |form| %>

<%= form.label t('body') %>
<%= form.text_area :body %>

<%= form.submit %>

<% end %>

<%= link_to t('back'), admin_test_path(@test) %>