<div class="shadow p-3 mb-5 bg-white rounded">
  <h3><%= t('.header', title: @question.test.title) %>:</h3>
  <h4><%= @question.body %></h4>
  <a href="<%= new_admin_question_answer_path(@question) %>" class="badge badge-success">
    <%= t('new_answer') %>
  </a>
  <a href="<%= edit_admin_question_path(@question) %>" class="badge badge-info"><%= t('edit') %></a>
</div>

<div class="">
  <h3 class="text-muted">
    <%= t('.answers') %>:
  </h3>
</div>

<div class="">
  <ol>
    <%= render @question.answers %>
  </ol>
</div>

<a class="btn btn-primary" href="<%= admin_test_path(@question.test) %>" role="button"><%= t('back') %></a>
