<%= form_for @feedback do |f| %>
  <div class="form-group">
    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.label t('.text') %>
      <%= f.text_area :text, class: 'form-control' %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.submit t('.send'), class: 'btn btn-info' %>
    </p>
  </div>
<% end %>
<a class="btn btn-primary" href="<%= root_path %>" role="button"><%= t('back') %></a>
