<div class="shadow p-3 mb-5 bg-white rounded">
  <h2 class="text-left">
    <%= t('.header') %>
  </h2>

  <a href="<%= new_admin_test_path %>" class="badge badge-success">
    <%= t('new_test') %>
  </a>
</div>

<div class="mt-1">
  <table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.table_title') %></th>
      <th><%= t('.table_level') %></th>
      <th><%= t('.table_amount') %></th>
      <th colspan="3"><%= t('.table_actions') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @tests %>
    </tr>
  </tbody>
  </table>
</div>
