<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= test_level(@test) %>
</p>

<ul>
  <% @test.questions.each do |question| %>
    <li>
      <%= question.body %>
      <%= link_to t('check'), admin_question_path(question) %>
      <%= link_to t('edit'), edit_admin_question_path(question) %>
      <%= link_to t('delete'), admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to t('new_question'), new_admin_test_question_path(@test) %><br/>
<%= link_to t('edit'), edit_admin_test_path(@test) %>
<%= link_to t('back'), admin_tests_path %>

<%# line_2 - Перебирает вопросы определённого теста и передаёт каждый вопрос в блок
 line_4 - выводит тело вопроса
 line_5 - Добавляет кнопку (посмотреть вопрос)
 line_6 - Добавляет кнопку (Удалить вопрос)
 line_11 - Добавляет кнопку создать новый вопрос для конкретно теста из (before_action) %>