<div class="shadow p-3 mb-5 bg-white rounded">
  <p>
    <strong><%= t('.title') %>:</strong>
    <%= @test.title %>
  </p>

  <p>
    <strong><%= t('.level') %>:</strong>
    <%= test_level(@test) %>
  </p>

  <p>
    <strong><%= t('.timer') %>:</strong>
    <%= @test.duration %> <%= t('.min') %>
  </p>
  <a href="<%= new_admin_test_question_path(@test) %>" class="badge badge-success"><%= t('new_question') %></a>
  <a href="<%= edit_admin_test_path(@test) %>" class="badge badge-info"><%= t('edit') %></a>
</div>

<ul class="list-group">
  <% @test.questions.each do |question| %>
    <li class="list-group-item">
      <div class="shadow p-3 bg-white rounded">
        <p class="text-left">
          <%= question.body %>
        </p>
        <div class="">
          <a href="<%= admin_question_path(question) %>" class="badge badge-primary"><%= t('check') %></a>
          <a href="<%= edit_admin_question_path(question) %>" class="badge badge-info"><%= t('edit') %></a>
          <a data-confirm="<%= t('confirm') %>" data-method="delete" href="<%= admin_question_path(question) %>" class="badge badge-danger"><%= t('delete') %></a>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<a class="btn btn-primary" href="<%= admin_tests_path %>" role="button"><%= t('back') %></a>
