<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th><%= t('.table_title') %></th>
    <th><%= t('.table_level') %></th>
    <th><%= t('.table_amount') %></th>
    <th><%= t('.table_actions') %></th>
  </tr>
  <%= render @tests %>
</table>