<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logget_in? %>
      <p class="nav user">Welcome
        <b><%= current_user.name %></b> Guru <br>
        <b><%= link_to 'Home Test Guru', tests_path %></b><br>
        <b><%= link_to "Exit", exit_path,
                               method: :delete,
                               data: { confirm: 'Do you really want to leave?'} %></b>
      </p>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
