<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">
        <b><%= t('welcome', user: current_user.first_name) %></b>
        <br>
        <b><%= link_to t('home_test_guru'), tests_path %></b><br>
        <b><%= link_to t('exit'), destroy_user_session_path, method: :delete, data: { confirm: t('.confirmation')} %></b>
      </p>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>